<!DOCTYPE html>
<!--

    ____/\\\\\\\\\\\\\\____________________________________________________/\\\\\\\\\\\\___________________
    __\/\\\___________________________________________________\/\\\////////\\\_________________
    ___\/\\\______________________________________________________________\/\\\______\//\\\________________
    ____\/\\\_________________________________/\\\\\______/\\____/\\___/\\___/\\\\\\\\\\\__\/\\\_______\/\\\______/\\\\\____
    _____\/\\\_____/\\\\\\\\___________\/\\\__/\\\\_/\\\__\///////////___\/\\\_______\/\\\____/\\\///\\\__
    ______\/\\\___________/\\\_________\//\\\__\//\\\/\\\\\/\\\__________________\/\\\_______\/\\\___/\\\__\//\\\_
    _______\/\\\___________/\\\______\//\\\__/\\\____\//\\\\\/\\\\\___________________\/\\\_______/\\\___\//\\\__/\\\__
    ________\/\\\__________\///_______\\\\\/______\//\\\\//\\\____________________\/\\\\\\\\\\\\/_____\///\\\\\/___
    __________\//////////////______\/////_________\///__\///_____________________\////////////_________\/////_____


-->
<html>
<head>
    <title>谷格</title>
    <meta charset="utf-8">
    <meta name="keywords" content="谷格,格子,友爱,有趣,奇闻,奇闻异事,异事,小动物,天涯海角,有价值,故事">
    <meta name="description" content="谷格传递的是有趣,有爱,有价值故事,谷格网大家都喜欢.">
    <link rel="shortcut icon" type="image/ico" href="../static/image/favicon.png"/>

    <!-- css 加载顺序不能颠倒 -->
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="../static/css/home/home.css" media="screen"/>

    <script src="../static/js/seajs/sea.js" type="text/javascript"></script>
    <script type="text/javascript">
        seajs.use('home/home');
    </script>
</head>
<body>
    <div class="container" id="header">
        <div class="row">
            <div class="col-lg-3 logo">
                <img src="../static/image/logo/ViralNova1.png" alt="googleler" class="img-responsive"/>
            </div>
            <div class="col-lg-9 banner-ad">
                <img src="../static/image/ad/ad.jpg" alt="" class="img-responsive"/>
            </div>
        </div>
    </div>

    <div class="container" id="content">
        <div class="row">
            <div class="col-xs-9" id="document-list">
                <div class="document">
                    <h2 class="document-title">
                        <a class="" href="#">科技了罚款收入将领导发空间上来看人家东风路上开软件分类上课软件疯了快...</a>
                    </h2>

                    <div class="headline_meta">
                        <p class="themeta">
                            <span class="thetime">June 7, 2014</span>
                            <span class="thecategories">
                                <a href="#" title="View all posts in Entertainment" rel="nofollow">Entertainment</a>
                            </span>
                        </p>
                    </div>

                    <img src="../static/image/ad/test.jpg" class="img-responsive" alt=""/>
                    <div class="document-content">
                        科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技
                    </div>
                    <div class="pull-right read-more">
                        <a href="#">阅读详情...</a>
                    </div>
                </div>
                <div class="document">
                    <h2 class="document-title">
                        <a class="" href="#">科技了罚款收入将领导发空间上来看人家东风路上开软件分类上课软件疯了快...</a>
                    </h2>

                    <div class="headline_meta">
                        <p class="themeta">
                            <span class="thetime">June 7, 2014</span>
                            <span class="thecategories">
                                <a href="#" title="View all posts in Entertainment" rel="nofollow">Entertainment</a>
                            </span>
                        </p>
                    </div>

                    <img src="../static/image/ad/test.jpg" class="img-responsive" alt=""/>
                    <div class="document-content">
                        科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技
                    </div>
                    <div class="pull-right read-more">
                        <a href="#">阅读详情...</a>
                    </div>
                </div>
                <div class="document">
                    <h2 class="document-title">
                        <a class="" href="#">科技了罚款收入将领导发空间上来看人家东风路上开软件分类上课软件疯了快...</a>
                    </h2>

                    <div class="headline_meta">
                        <p class="themeta">
                            <span class="thetime">June 7, 2014</span>
                            <span class="thecategories">
                                <a href="#" title="View all posts in Entertainment" rel="nofollow">Entertainment</a>
                            </span>
                        </p>
                    </div>

                    <img src="../static/image/ad/test.jpg" class="img-responsive" alt=""/>
                    <div class="document-content">
                        科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技
                    </div>
                    <div class="pull-right read-more">
                        <a href="#">阅读详情...</a>
                    </div>
                </div>
                <div class="document">
                    <h2 class="document-title">
                        <a class="" href="#">科技了罚款收入将领导发空间上来看人家东风路上开软件分类上课软件疯了快...</a>
                    </h2>

                    <div class="headline_meta">
                        <p class="themeta">
                            <span class="thetime">June 7, 2014</span>
                            <span class="thecategories">
                                <a href="#" title="View all posts in Entertainment" rel="nofollow">Entertainment</a>
                            </span>
                        </p>
                    </div>

                    <img src="../static/image/ad/test.jpg" class="img-responsive" alt=""/>
                    <div class="document-content">
                        科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技
                    </div>
                    <div class="pull-right read-more">
                        <a href="#">阅读详情...</a>
                    </div>
                </div>
                <div class="document">
                    <h2 class="document-title">
                        <a class="" href="#">科技了罚款收入将领导发空间上来看人家东风路上开软件分类上课软件疯了快...</a>
                    </h2>

                    <div class="headline_meta">
                        <p class="themeta">
                            <span class="thetime">June 7, 2014</span>
                            <span class="thecategories">
                                <a href="#" title="View all posts in Entertainment" rel="nofollow">Entertainment</a>
                            </span>
                        </p>
                    </div>

                    <img src="../static/image/ad/test.jpg" class="img-responsive" alt=""/>
                    <div class="document-content">
                        科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技
                    </div>
                    <div class="pull-right read-more">
                        <a href="#">阅读详情...</a>
                    </div>
                </div>
                <div class="pager">
                    <ul>
                        <li><a href="#">上一页</a></li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">下一页</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-3" id="ad-list">
                <div class="share">
                    <img src="../static/image/ad/share.jpg" alt=""/>
                </div>
                <div class="ad">
                    <a href="#"><img src="../static/image/ad/ad-list.jpg" class="img-responsive" alt=""/></a>
                    <a class="" href="#">科技了罚款收入将领导发...</a>
                </div>
                <hr>
                <div class="ad">
                    <a href="#"><img src="../static/image/ad/ad-list.jpg" class="img-responsive" alt=""/></a>
                    <a class="" href="#">科技了罚款收入将领导发...</a>
                </div>
                <hr>
                <div class="ad">
                    <a href="#"><img src="../static/image/ad/ad-list.jpg" class="img-responsive" alt=""/></a>
                    <a class="" href="#">科技了罚款收入将领导发...</a>
                </div>
                <hr>
                <div class="ad">
                    <a href="#"><img src="../static/image/ad/ad-list.jpg" class="img-responsive" alt=""/></a>
                    <a class="" href="#">科技了罚款收入将领导发...</a>
                </div>
                <hr>
                <div class="ad">
                    <a href="#"><img src="../static/image/ad/ad-list.jpg" class="img-responsive" alt=""/></a>
                    <a class="" href="#">科技了罚款收入将领导发...</a>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div class="container">
        <hr>
        <p>Copyright@2013-14 by ToDo App.</p>
    </div>
</body>
</html>